
<style>
    .calendar-container {
    display: flex;       /* Use Flexbox */
    justify-content: center; /* Center the calendar horizontally */
    align-items: center; /* Optional: Center vertically if needed */
    height: 100vh;      /* Optional: Full height for vertical centering */
    background-color: #f0f0f0; /* Optional: Background for visibility */
    }
</style>

<div class="calendar-container">	
	<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FDublin&bgcolor=%23009688&mode=AGENDA&showTabs=0&title&dates=20241025/20241206&src=NTY0ZTMxMzg2MTExMjYyM2MyN2U1ZTY1ZmYyMzVlOTRmYTY4YTc3MzVmNDk2NWM5ZWM4NzM0ODk3MTdmMmRiZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23AD1457" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" justify-content="center"></iframe>
</div>
