<!-- Begin coming soon Section -->
<section id="tickets" class="tickets-2">
        <div class="content-wrapper">
                <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                        <h3>Registration is now closed!</h3>
                        <h4>Abstract submissions are now <b>closed</b>, and abstract evaluations are completed.</h4>
                        <p>We are looking forward to seeing you all this week!</p>
                        <p>Should you require more information, contact us at <a href="{{ site.twitterAccount }}">Twitter</a>, <a href="https://www.linkedin.com/in/vibe-icbg2024/">LinkedIn</a>, or email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                </div>
        </div>
</section>
<!-- End coming soon Section -->